/* HEADER */
.top-barshadow {
  display: none;
}

.logo img {
  height: 80px;
  margin-top: 20px;
}

.top-bar {
  height: 60px;
}

.lw-text-container {
  width: 100%;
  margin-left: 20px;
}

.top-bar p {
  font-size: 30px;
  margin: 0;
}

.top-bar span {
  font-size: 34px;
}

.navbar {
  display: none;
}

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0093CC;
}

.navbar-mobile img {
  height: 40px;
  width: auto;
  margin: 20px;
}

/* BANNER */
.banner-image {
  display: none;
}

.banner-text {
  height: 200px;
  color: white;
  justify-content: center;
  width: 100%;
}

#p1 {
  font-size: 40px;
}

#p2 {
  font-size: 24px;
}

#p3 {
  font-size: 18px;
}

/* HOW TO WIN */
.how-to-win {
  height: 200px;
}

.htw-text {
  margin: 15px;
}

.htw-text h1 {
  font-size: 40px;
}

.htw-text p {
  font-size: 15px;
}

.htw-text span {
  font-size: 13px;
}

/* TEMPORARY */
.gsb-container, .monthly, .bottom {
  display: none;
}
