/* HEADER */
.top-barshadow {
  display: none;
}

.logo img {
  height: 100px;
  margin-top: 40px;
}

.top-bar {
  height: 60px;
}

.lw-text-container {
  width: 100%;
}

.top-bar p {
  font-size: 36px;
  margin: 0;
}

.top-bar span {
  font-size: 40px;
}

.navbar {
  display: none;
}

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0093CC;
  height: 50px;
}

.navbar-mobile img {
  height: 30px;
  width: auto;
  margin: 8px;
}

.pagelinks-mobile {
  margin-left: 75px;
}

/* BANNER */
.banner-image {
  display: none;
}

.banner-text {
  height: 200px;
  justify-content: center;
  width: 100%;
}

#p1, #p2, #p3 {
  margin-left: 10px;
}

#p1 {
  font-size: 40px;
}

#p2 {
  font-size: 24px;
}

#p3 {
  font-size: 18px;
}

/* HOW TO WIN */
.how-to-win {
  height: 275px;
  background-image: url('../rs/moneypat3mobile.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.htw-text {
  margin: 15px;
}

.htw-text h1 {
  font-size: 48px;
}

.htw-text p {
  font-size: 20px;
}

.htw-text span {
  font-size: 17px;
}

/* GET STARTED BUTTON */
.gsb-container a {
  width: 80%;
}

.gsb-container a:hover{
  background-color: #08FF50;
}


/* MONTHLY GIVEAWAY */
.monthly {
  display: block;
  height: 570px;
}

.monthly-picture img {
  height: 200px;
  margin-left: 0;
}

.mt-text-header {
  font-size: 36px;
  padding: 20px 0;
}

.mt-text {
  font-size: 22px;
}

.mtsu-button {
  padding: 20px 0;
}

.mtsu-button a {
  width: 60%;
}

.mtsu-button a:hover {
  background-color: #08FF50;
}

/* BOTTOM */

.footer-textlinks a {
  font-size: 16px;
}
